{% extends 'base.html.twig' %}

{% block title %}
	Page d'accueil
{% endblock %}

{% block body %}

	<h1 class="text-center active  ">Rando shop</h1>
	
<div class="d-flex flex-row ">
	{% for article in articles %}

		<div class="card w-content">	
		<div class="image">
				<img style="height: 120px;" src="/images/{{ article['img'] }}.jpg" alt="00">
			</div>
		
			<div class="content">
			
				<h5 class="header">{{ article['titre'] }}</h5>
			
				
			</div>
				<a href="{{ path('detailpage', { numdetail: loop.index0 }) }}">details</a>
			
		</div>
	{% endfor %}
</div>



		
	{% endblock %}
